In [0]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [0]:
website_url = requests.get('https://www.quantopian.com/docs/data-reference/morningstar_fundamentals#super-sector-sector-group-and-industry-mappings-november-2019-onward').text

In [0]:
soup = BeautifulSoup(website_url,'lxml')
#print(soup.prettify())

In [0]:
My_table = soup.find('table',{'class':'colwidths-given docutils'})

In [0]:
tags = My_table.find_all('th', {'class': 'head'})

In [0]:
#create column headers
header = []
for tag in tags:
  header.append(tag.text)

In [133]:
header

['Super Sector Name',
 'Super Sector Code',
 'Sector Name',
 'Sector Code',
 'Group Name',
 'Group Code',
 'Industry Name',
 'Industry Code']

In [0]:
table_rows = My_table.tbody.find_all("tr")
table = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    table.append(row)

In [0]:
morning_star_codes = pd.DataFrame(table, columns=header)

In [139]:
morning_star_codes.head()

  Super Sector Name Super Sector Code  ...             Industry Name Industry Code
0          Cyclical                 1  ...       Agricultural Inputs      10110010
1          Cyclical                 1  ...        Building Materials      10120010
2          Cyclical                 1  ...                 Chemicals      10130010
3          Cyclical                 1  ...       Specialty Chemicals      10130020
4          Cyclical                 1  ...  Lumber & Wood Production      10140010

[5 rows x 8 columns]